.tweet {
			width: 400px;
			margin: 3%;
			border: #ddd solid 1px;
      float: left;
		}
.tweet_profile_pic {
			width: 20%;
			float: left;
			display: block;
		}
.tweet_text {
			width: 40%;
			float: left;
		}
.tweet_name {
			clear: both;
		}

.right{
  /*float: left;*/


}
